@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


:root {
    --light-purple: #c6bedd;
    --blue: #002e5c;
    --bg-gray: #d9d9d9;
    --white: #f1f1f1;
    --light-pink: #c5bddc;
    --sutil-dark-pink: #a7a9c8;
}

html,
body {
    height: 100%;
    background-color: var(--bg-gray);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.btn-rep {
    padding: 5px 10px;
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 600;
}

.whatsapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    background-color: #2cd46b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 2;
    animation: pulse 2s infinite; 
    margin-bottom: 30px;
    margin-right: 30px;
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1); 
    }
  }

.sample-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background:
    linear-gradient(0deg, rgba(0, 46, 92, 0.697) 0%, rgba(0, 46, 92, 0.09567577030812324) 100%, rgba(0, 212, 255, 1) 100%),
      url('./assets/divórcio-1200x500.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .sample-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    z-index: 1;
  }
  
  .sample-header-section {
    padding: 5% 0;
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    color: white;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    z-index: 0; 
    width: 90%;  
  
  }

  header p {
    color: rgba(255, 255, 255, 0.51);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .sample-header-section h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5rem;
    font-size: 95px;
    color: var(--blue);
  }

  .sample-section-wrap {
    min-height: 100vh;
    margin-top: 20vh;
    background-color: #fdf4db;
    margin-bottom: 20vh;
  }
  
  .sample-section {
    max-width: 1140px;
    margin: auto;
    padding: 40px 20px;
  
  }

header .container {
    height: 100%;
    
}

header .container .top {
    width: 100%;
    height: 10%;
    top: 0;
    left: -15%;
    z-index: 2;
    position: relative;
}

header .container .top img {
    width: 250px;
    border-radius: 10px;
}

header .container .cta {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .container .cta h1 {
    text-transform: uppercase;
    color: var(--blue);
    font-size: 50px;
    font-weight: normal;
}

header .container .cta p {
    color: var(--white);
    font-size: 30px;
}

section.about {
    width: 100%;
    height: 60vh;
}

section.about>.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.about .left .right {
    width: 50%;
    height: 100%;
    color: var(--blue);
}

section.about .left img {
    width: 350px;
    transform: scaleX(-1);
}

section.about .right {
    text-align: center;
    color: var(--blue);
}

section.about .right p {
    max-width: 470px;
    font-size: 17px;
    text-align: center;
    margin: 20px 0;
    text-align: justify;
    font-family: Montserrat;
}

section.specialization {
    width: 100%;
    height: 70vh;
    margin-top: 70px;
}

section.specialization .cta {
    text-align: center;
}

section.specialization .description {
    color: var(--blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.specialization .description h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

section.specialization .description p {
    max-width: 700px;
    font-size: 18px;
    font-weight: 300;
}

main.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.wrapper ul {
    list-style-type: none;
    width: 35%;
}

main.wrapper ul li {
    text-transform: uppercase;
    border: 3px solid var(--blue);
    color: var(--blue);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin: 30px 30px;
}

.differences {
    width: 100%;
    height: 65vh;
    margin: 40px 0;
}

.differences h1 {
    text-align: center;
    color: var(--blue);
    font-weight: normal;
    margin: 20px 0;

}

.differences>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.differences .dif_single {
    width: 300px;
    height: 350px;
    background-color: var(--blue);
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    padding: 20px;
    transition: transform 1s ease, background-color 0.3s ease;
}

.differences .dif_single i {
    font-size: 50px;
}

.differences .dif_single h3 {
    font-weight: normal;
    margin: 20px 0;
}

.differences .dif_single p {
    font-size: 16px;
    font-weight: 300;
}

.dif_single:hover{
    transform: scale(1.1); 
}

.faq {
    width: 100%;
    height: 60%;
}

.faq h1 {
    color: var(--blue);
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

.faq>.container {
    background-color: #ccc;
    padding: 10px 20px;
    border-radius: 20px;
}

.faq>.container>.single {
    height: 50px;
    padding: 10px 15px;
    color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    margin: 20px 0;
}

/* Carrousel */

.depoiments {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.depoiments-title{
    font-size: 32px;
    color: var(--blue);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center; 
} 

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 210px;
}

.carousel {
    display: flex;
    width: 80%;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    flex: 0 0 90%;
    margin: 0 50px;
    padding: 40px 20px;
    background: var(--light-pink);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.person-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonial-content {
    flex: 1;
}

.testimonial-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.testimonial-content p {
    margin: 10px 0;
    font-size: 14px;
}

.stars {
    text-align: center;
    font-size: 30px;
    color: var(--blue);
}

.arrow {
    position: absolute;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--blue);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

/**************/

.about_ruan {
    width: 100%;
    height: 70vh;
    margin-top: 40px;
}

.about_ruan>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_ruan .left {
    width: 50%;
    text-align: center;
    color: var(--blue);
}

.about_ruan .left p {
    max-width: 600px;
    margin-top: 20px;
}

.about_ruan .right {
    width: 50%;
    text-align: center;
}

.about_ruan .right img {
    width: 350px;
    height: 450px;
    border-radius: 20px;
}

.contact {
    width: 100%;
    height: 70vh;
    margin-top: 50px;
}

.contact>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .left {
    width: 450px;
    height: 525px;
    background-color: var(--light-pink);
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    margin: 50px;
    color: var(--blue);
  text-align: center;
  margin-top: -20px;
}

.contact .left .top h2 {
    font-weight: normal;
}

.contact .left .top p {
    font-size: 13px;
    margin: 20px 0;
}

.contact .left input {
    width: 100%;
    padding: 0 8px;
    margin: 8px 0;
    height: 30px;
    border-radius: 6px;
    background-color: var(--sutil-dark-pink);
    border: 0;
    border-radius: 10px;
}

.contact .left textarea {
    width: 100%;
    height: 100px;
    padding: 0 8px;
    resize: none;
    background-color: var(--sutil-dark-pink);
    border: 0;
    border-radius: 10px;
}

.contact .left input[type=submit] {
    width: 220px;
    background-color: var(--blue);
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    width: 330px;
    height: 38px;
    margin-left: 15px;
    margin-top: 30px;
    letter-spacing: 0.1rem;
}

.contact .right {
    font-weight: 300;
    margin: 3%;
    padding: 10px;
    color: var(--blue);
}

.contact .right p {
    margin-top: 20px;
    font-size: 17px;
}

.contact .right p i {
    margin-right: 10px;
}

.btn_box {
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  
  .btn_box i{
    margin-left: 20px;
    font-size: 25px;
  }

.contact .right a {
    padding: 5px;
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 500;
    width: 330px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}

footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
    margin-top: 40px;
}

footer img {
    width: 200px;
}

  
  .sticky-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: var(--bg-gray);
    text-align: center;
    padding: 0 2em;
    color: var(--blue);
  }
  
  .sticky-tabs h1,
  .sticky h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 0.rem;
    color: #152b3c;
  }
  
  .sticky-tabs h3,
  .sticky h3 {
    font-size: 1rem;
    opacity: 0.6;
    justify-content: center;
    color: var(--blue);
  }

  .sticky-container {
    display: flex;
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-gray);
    z-index: 10;
    transition: all 0.3s ease;
    color: var(--blue);
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .sticky-tab-container--top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .sticky-tabs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    text-decoration: none;
    font-size: 30px;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 300;
    height: 10vh;
  
  }
  
  .sticky-tabs:hover {
    color: var(--light-pink);
    background: var(--blue);
    transition: all 0.5s ease;
  }
  
  .sticky-tabs-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: var(--blue);
    transition: left 0.3s ease, width 0.3s ease;
  }

  nav {
    position: relative;
    top: 0;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.75);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 999;
  }

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    text-align: center;
    width: 33.3%;
    padding: 10px 0;

}

nav ul li:nth-child(1) {
    border-bottom: 5px solid var(--blue);
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 300;
}